---
Language: Cpp
Standard: Latest
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignOperands: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  AfterCaseLabel: false
  AfterEnum: false
  AfterStruct: false
  AfterClass: false
  AfterFunction: false
  AfterNamespace: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  AfterControlStatement: false
ColumnLimit: 120
BreakBeforeBraces: Custom
Cpp11BracedListStyle: true
DerivePointerAlignment: false
MaxEmptyLinesToKeep: 2
NamespaceIndentation: Inner
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: Never
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
IndentWidth: 4
TabWidth: 4
UseTab: Always
SortIncludes: true
SpacesBeforeTrailingComments: 4
SpaceBeforeInheritanceColon: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeCpp11BracedList: true
SpaceAfterTemplateKeyword: true
SortUsingDeclarations: true
PointerAlignment: Left
KeepEmptyLinesAtTheStartOfBlocks: false
FixNamespaceComments: true
ContinuationIndentWidth: 2
BreakStringLiterals: true
BreakInheritanceList: BeforeColon
BreakConstructorInitializers: BeforeColon
BreakBeforeTernaryOperators: true
AllowShortBlocksOnASingleLine: false
SpaceBeforeRangeBasedForLoopColon: true
CommentPragmas:  '.* \\(param|tparam|brief|detail|details|return|returns|note|warning|todo)'
# EmptyLineBeforeAccessModifier: LogicalBlock
# IndentRequires: true
# BreakBeforeConceptDeclarations: true
IndentPPDirectives: BeforeHash
...
