[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/JessyDL/fmt.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extern/gli"]
	path = extern/gli
	url = https://github.com/g-truc/gli.git
[submodule "extern/litmus"]
	path = extern/litmus
	url = https://github.com/JessyDL/litmus.git
[submodule "extern/utfcpp"]
	path = extern/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "extern/strtype"]
	path = extern/strtype
	url = https://github.com/JessyDL/strtype.git
