[submodule "extern/cppcoro"]
	path = extern/cppcoro
	url = https://github.com/andreasbuhr/cppcoro.git
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/JessyDL/fmt.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extern/gli"]
	path = extern/gli
	url = https://github.com/g-truc/gli.git
[submodule "extern/litmus"]
	path = extern/litmus
	url = git@github.com:JessyDL/litmus.git
